# Clustering

In [1]:
# warningの無視
import warnings
warnings.filterwarnings('ignore')

In [43]:
# 表示列数を指定
pd.set_option('display.max_columns', 100)
pd.set_option('display.max_rows', 100)

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler
from sklearn.manifold import TSNE


# User defined functions
from self_lib import tips
from self_lib import doggie_tail as d_

%matplotlib inline

In [3]:
raw_data=pd.read_pickle("../data/pre/pre_data.pickle")
data=raw_data.copy()

In [44]:
d_.d(data)

,Borrower,City,State,Zip,Bank,BankState,SystemCode,ApprovalDate,ApprovalFY,Term,Employees,ExistNew,CreateJob,RetainedJob,FranchiseCode,UrbanRural,RevLineCr,LowLoan,DisbursementDate,DisbursementGross,BalanceGross,LoanAmount,GuaranteedLoan,LoanStatus,Approval_Y,Approval_M,Approval_D,DisbursementDate_Y,DisbursementDate_M,DisbursementDate_D
count,255477,255471,255473,255477,255049,255048,255477,255477,255477,255477.00,255477.00,255431.00,255477.00,255477.00,255477.00,255477.00,254117,254729,255477,255477.00,255477.00,255477.00,255477.00,255477.00,255477.00,255477.00,255477.00,255477.00,255477.00,255477.00
missing,0,6,4,0,428,429,0,0,0,0.00,0.00,46.00,0.00,0.00,0.00,0.00,1360,748,0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
missing_per,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.01,0.0,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
unique,255477,20085,51,24373,4598,54,1264,8646,91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9,7,5587,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,drlvdgibeuggpxs,LOS ANGELES,CA,10001,kcjyktbecc,CA,0,1993-07-07 00:00:00,2005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,N,1995-07-31 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,1,3441,37942,278,26362,33690,56781,311,19749,NaN,NaN,NaN,NaN,NaN,NaN,NaN,120274,221768,3020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,111.43,11.17,1.28,8.56,10.85,1695.70,0.76,NaN,NaN,NaN,197988.37,0.71,189347.82,146924.24,0.19,2000.97,6.48,16.15,2001.26,6.35,27.59
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,79.48,75.02,0.45,239.67,239.85,10129.08,0.64,NaN,NaN,NaN,285129.76,206.61,282409.05,227516.87,0.39,5.98,3.37,8.76,5.90,3.43,7.44
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00,0.00,0.00,0.00,0.00,0.00,0.00,NaN,NaN,NaN,4000.00,0.00,1000.00,500.00,0.00,1971.00,1.00,1.00,1971.00,1.00,1.00
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,60.00,2.00,1.00,0.00,0.00,1.00,0.00,NaN,NaN,NaN,40000.00,0.00,35000.00,20000.00,0.00,1996.00,4.00,9.00,1997.00,4.00,30.00
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,84.00,4.00,1.00,0.00,1.00,1.00,1.00,NaN,NaN,NaN,99000.00,0.00,85000.00,56250.00,0.00,2002.00,6.00,16.00,2003.00,6.00,31.00
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,120.00,10.00,2.00,1.00,4.00,1.00,1.00,NaN,NaN,NaN,233132.00,0.00,223000.00,172350.00,0.00,2006.00,9.00,24.00,2006.00,9.00,31.00
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,527.00,9999.00,2.00,8800.00,8800.00,92000.00,2.00,NaN,NaN,NaN,9284449.00,84617.00,5000000.00,5000000.00,1.00,2070.00,12.00,31.00,2070.00,12.00,31.00
d_type,object,object,object,object,object,object,object,datetime64[ns],object,int64,int64,float64,int64,int64,int64,int64,object,object,datetime64[ns],int32,int32,int32,int32,int64,int32,int32,int32,int32,int32,int32

In [167]:
import datetime
import pandas as pd
import numpy as np
from sklearn.cluster import KMeans

def get_features(dic_features):
    """get_features(dic_features)
    dic_features={
      "key":["feature1","feature2",n_clusters],
      "":["","",3],
      "":["","",3],
      "":["","",10],
      "":["","",100],
      "":["","",100]}
    """
    for key in dic_features:
        l=dic_features.get(key)
        *l_features,cnt=l

        print(datetime.datetime.now().strftime("%Y-%m-%d %H:%M:%S"))
        print("  > " + key)
        
        # ファイル名
        featureName=key
        
        # クラスターの数
        n_clusters=cnt

        # データ取得
        print("  >> " + str(l_features) + " clustering to " + str(cnt))
        feature_X = data[l_features]

        # クラスター
        kmeans = KMeans(n_clusters=n_clusters, random_state=seed)
        kmeans.fit(features_X)
        clusters = kmeans.fit_predict(features_X)

        # 保存
        with open('../data/feature/cluster_features/' + featureName + '.pickle', mode='wb') as f:
            pickle.dump(clusters, f)

In [168]:
dic_features={
    "Zip50":["Zip",50],
    "Employees3":["Employees",3],
    "FranchiseCode10":["FranchiseCode",10],
    "LoanAmount_GuaranteedLoan3":["LoanAmount","GuaranteedLoan",3],
    "SystemCode10":["SystemCode",3],
    "Term_Approval_Y20":["Term","Approval_Y",20],
    "Term_LoanAmount20":["Term","LoanAmount",20],
    "Term10":["Term",10],
    "Zip_UrbanRural10":["Zip","UrbanRural",10]}

In [169]:
get_features(dic_features)

2021-01-24 22:17:23
  > Zip50
  >> ['Zip'] clustering to 50
2021-01-24 22:17:41
  > Employees3
  >> ['Employees'] clustering to 3
2021-01-24 22:17:43
  > FranchiseCode10
  >> ['FranchiseCode'] clustering to 10
2021-01-24 22:17:48
  > LoanAmount_GuaranteedLoan3
  >> ['LoanAmount', 'GuaranteedLoan'] clustering to 3
2021-01-24 22:17:50
  > SystemCode10
  >> ['SystemCode'] clustering to 3
2021-01-24 22:17:52
  > Term_Approval_Y20
  >> ['Term', 'Approval_Y'] clustering to 20
2021-01-24 22:18:00
  > Term_LoanAmount20
  >> ['Term', 'LoanAmount'] clustering to 20
2021-01-24 22:18:08
  > Term10
  >> ['Term'] clustering to 10
2021-01-24 22:18:13
  > Zip_UrbanRural10
  >> ['Zip', 'UrbanRural'] clustering to 10

In [74]:
# # features
# feature="Zip"
# n_clusters=100

# features_X = data[['Zip']]

# # # 標準化
# # sc = StandardScaler()
# # clustering_sc = sc.fit_transform(features_X)

# # クラスターの数を決定
# seed = 1
# n_clusters=n_clusters

# kmeans = KMeans(n_clusters=n_clusters, random_state=seed)
# kmeans.fit(features_X)
# clusters = kmeans.fit_predict(features_X)

# clusters

array([19,  6, 22, ..., 34,  3, 67])

In [71]:
# # モデルの保存
# import pickle
# featureName=feature + str(n_clusters)
# with open('../data/feature/cluster_features/' + featureName + '.pickle', mode='wb') as f:
#     pickle.dump(clusters, f)

In [73]:
# clusters.plot.scatter(x='Zip', y='LoanStatus',c='Clusters',cmap="rainbow")

In [31]:
# # WCSSの決定状況を確認する
# wcss=[]
# number_clusters = range(1,n_clusters)
# for i in number_clusters:
#     print(i*100)
#     kmeans=KMeans(i*100)
#     kmeans.fit(features_X)
#     wcss_iter = kmeans.inertia_
#     wcss.append(wcss_iter)

# plt.plot(number_clusters,wcss)
# plt.title('The Elbow Method')
# plt.xlabel('number of clusters')
# plt.ylabel('Within_cluster sum of squares')
# plt.show()

In [32]:
# # 次元削減
# tsne = TSNE(n_components=2,random_state=0)
# x =tsne.fit_transform(data)
# tsne_df = pd.DataFrame(x)
# tsne_df['cluster'] =data_clustering['cluster']
# tsne_df.columns = ['axis_0','axis_1','cluster']

# tsne_graph = sns.scatterplot(x='axis_0',y='axis_1',hue='cluster',data=tsne_df)

In [ ]:
# sns.clustermap(features_X,figsize=(5,5),cmap="coolwarm")